<!DOCTYPE html>
<html>
<head>
	<title>Add Single Reocrd</title>
	<link rel="stylesheet" type="text/css" href="teststyle.css">
</head>
<body>
	<!--__________________________________ header-box______________________________________________ -->
	<div id="header-container">
		<h1 id="header">ADD FILES
		</h1>
	</div>
<!-- ___________________________________main-division____________________________________________ -->

	<div class=fraud-container>
		<div class=fraud-header-container>
			<h3 class="fraud-header">UPLOAD CSV FILE WITH SINGLE RECORD</h3>
		</div>
		<div class="singlefilediv">
			<form>
				<label>Choose Single Recored CSV File</label><br>
				<input class="file" type="FILE" name=""><br>
				<input  class="btn" type="button" name="" value="SUBMIT">
			</form>
		</div>
	</div>
</body>
</html>