{% extends "index.html" %} {% load static %} {% block title %} Home | Fraud
Detection System {% endblock %} {% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}
<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="homesection" style="padding: 0px 0px">
    <!--__________________________________ header-box______________________________________________ -->
    <div id="header-container">
      <h1 id="header2">ADD FILES</h1>
    </div>
    <!-- ___________________________________main-division____________________________________________ -->

    <div class="fraud-container">
      <div class="fraud-header-container">
        <h3 class="fraud-header">UPLOAD CSV FILE WITH MULTIPLE RECORDS</h3>
      </div>
      <div class="singlefilediv">
        <form
          method="POST"
          action="{% url 'predict_csv_multi' id %}"
          class="upload-form"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <label>Choose Multi Recored CSV File</label><br />
          <input class="file" type="FILE" name="actual_file_name" /><br />
          <input class="btn" type="submit" name="" value="SUBMIT" />
        </form>
      </div>
    </div>
  </section>
  <!-- End Hero -->
</main>

{% endblock %} {% block style %} .btn{ width: 100%; margin: 0px auto 0px auto;
padding: 10px; color: #FFFFFF; font-size: 15px; background-color: #5cb874;
border-style: none; } .btn:hover{ opacity: 0.8; } .btn-cover{ width: 90%;
margin: 20px auto 10px auto; } {% endblock %}
