{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}
{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="main" >

  <!-- ======= Hero Section ======= -->
  <section id="homesection" style="padding: 0px 0px;">
<!--__________________________________ header-box______________________________________________ -->
<div id="header-container">
	<h1 id="header2">CHANGE PASSWORD</h1>
</div>
<!-- ___________________________________main-division____________________________________________ -->

<div id=upload-container style="margin-bottom: 10px;">
	<div id=upload-header-container>
		<h3 id="upload-header">CHANGE PASSWORD</h3>
	</div>
	<div class="upload">
		<form class="upload-form">
			<label>New Password</label><br>
			<input type="text" name=""  placeholder="New Password"><br>
			<label>Confirm Password</label><br>
			<input  type="text" placeholder="Confirm Password"><br>
			<input class="btn" type="button" name="" value="CHANGE PASSWORD">
		</form>
	</div>
</div>
  </section><!-- End Hero -->

  </main>

  
{% endblock %}

	
{% block style %}

.btn{
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 10px;
	color: #FFFFFF;
	font-size: 15px;
	background-color: #5cb874;
	border-style: none;
	 
}
.btn:hover{
	opacity: 0.8;
}
.btn-cover{
	width: 90%;
	margin: 20px auto 10px auto;

}


{% endblock %}




<!DOCTYPE html>
<html>
<head>
	<title>Fraud detection</title>
	<link rel="stylesheet" type="text/css" href="teststyle.css">
</head>
<body>
	
</body>
</html>