{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}
{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="main" >

  <!-- ======= Hero Section ======= -->
  <section id="homesection" style="padding: 0px 0px;">
   <!--__________________________________ header-box______________________________________________ -->
<div id="header-container">
  <h1 id="header2">USER DASHBOARD</h1>
</div>
<!-- ___________________________________main-division____________________________________________ -->
<div id="main-container">
  <div class="inner-box">
    <svg viewBox="0 0 80 80" width="200px" height="200px">
      <a href="{% url 'upload_credit_data' %}">
        <circle class="circle" cx="40" cy="40" r="38"/>
        <text x="40" y="35" font-size="10px" fill="#FFFFFF" text-anchor="middle">Upload</text>
        <text x="40" y="47" font-size="10px" fill="#FFFFFF" text-anchor="middle">Files</text></a>
    </svg>
  </div>

  <div class="inner-box">
    <svg viewBox="0 0 80 80" width="200px" height="200px">
      <a href="{% url 'reports' %}">
        <circle class="circle" cx="40" cy="40" r="38"/>
        <text x="40" y="35" font-size="10px" fill="#FFFFFF" text-anchor="middle">Files</text>
        <text x="40" y="47" font-size="10px" fill="#FFFFFF" text-anchor="middle">Report</text></a>
    </svg>
  </div>

  <div class="inner-box">
    <svg viewBox="0 0 80 80" width="200px" height="200px">
      <a href="{% url 'account_details' %}">
        <circle class="circle" cx="40" cy="40" r="38"/>
        <text x="40" y="35" font-size="10px" fill="#FFFFFF" text-anchor="middle">My</text>
        <text x="40" y="47" font-size="10px" fill="#FFFFFF" text-anchor="middle">Account</text></a>
    </svg>
  </div>

  <div class="inner-box">
    <svg viewBox="0 0 80 80" width="200px" height="200px">
      <a href="{% url 'change_password' %}">
        <circle class="circle" cx="40" cy="40" r="38"/>
        <text x="40" y="35" font-size="10px" fill="#FFFFFF" text-anchor="middle">Change</text>
        <text x="40" y="47" font-size="10px" fill="#FFFFFF" text-anchor="middle">Password</text></a>
    </svg>
  </div>

  <div class="inner-box">
    <svg viewBox="0 0 80 80" width="200px" height="200px">
      <a href="">
        <circle class="circle" cx="40" cy="40" r="38"/>
        <text x="40" y="40" font-size="10px" fill="#FFFFFF" text-anchor="middle">Logout</text></a>
    </svg>
  </div>
  
</div>
  </section><!-- End Hero -->

  </main>

  
{% endblock %}