{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
<main id="main" >

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;"></section> 
         <!--__________________________________ header-box______________________________________________ -->
 <div id="header-container">
	<h1 id="header2">Multi data Csv Prediction Result</h1>

</div>
<div class="container" style="width: 90%;margin-top: 13px;" >
<table id="example" class="table table-striped table-bordered dt-responsive nowrap table-wrapper-scroll-y my-custom-scrollbar" style="width:100%;">
  <thead>
      <tr>
          <th>Sr No.</th>
          <th>Fraud or Not</th>
          <th>Time</th>
          <th>V1</th>
          <th>V2</th>
          <th>V3</th>
          <th>V4</th>
          <th>V5</th>
          <th>V6</th>
          <th>V7</th>
          <th>V8</th>
          <th>V9</th>
          <th>V10</th>
          <th>V11</th>
          <th>V12</th>
          <th>V13</th>
          <th>V14</th>
          <th>V15</th>
          <th>V16</th>
          <th>V17</th>
          <th>V18</th>
          <th>V19</th>
          <th>V20</th>
          <th>V21</th>
          <th>V22</th>
          <th>V23</th>
          <th>V24</th>
          <th>V25</th>
          <th>V26</th>
          <th>V27</th>
          <th>V28</th>
          <th>Amount</th>
      </tr>
  </thead>
  <tbody>
    {% for item in combined_data %}
       <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.record.Time }}</td>
          <td>{{ item.record.V1 }}</td>
          <td>{{ item.record.V2 }}</td>
          <td>{{ item.record.V3 }}</td>
          <td>{{ item.record.V4 }}</td>
          <td>{{ item.record.V5 }}</td>
          <td>{{ item.record.V6 }}</td>
          <td>{{ item.record.V7 }}</td>
          <td>{{ item.record.V8 }}</td>
          <td>{{ item.record.V9 }}</td>
          <td>{{ item.record.V10 }}</td>
          <td>{{ item.record.V11 }}</td>
          <td>{{ item.record.V12 }}</td>
          <td>{{ item.record.V13 }}</td>
          <td>{{ item.record.V14 }}</td>
          <td>{{ item.record.V15 }}</td>
          <td>{{ item.record.V16 }}</td>
          <td>{{ item.record.V17 }}</td>
          <td>{{ item.record.V18 }}</td>
          <td>{{ item.record.V19 }}</td>
          <td>{{ item.record.V20 }}</td>
          <td>{{ item.record.V21 }}</td>
          <td>{{ item.record.V22 }}</td>
          <td>{{ item.record.V23 }}</td>
          <td>{{ item.record.V24 }}</td>
          <td>{{ item.record.V25 }}</td>
          <td>{{ item.record.V26 }}</td>
          <td>{{ item.record.V27 }}</td>
          <td>{{ item.record.V28 }}</td>
          <td>{{ item.record.Amount }}</td>
      </tr> 
    {% endfor %}
      
    </tbody>  
</table>
</div>
    </section><!-- End Hero -->
  
    </main>


    <script>
      $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            { 
          extend: 'copy',
          text: 'Copy'
       },
            { 
          extend: 'excel',
          text: 'Download excel'
       },
           
           
            ],
            initComplete: function () {
                var btns = $('.dt-button');
                btns.addClass('btn btn-primary btn-sm ');
                btns.removeClass('dt-button');
    
            },
            pageLength: 100,
            lengthMenu: [[100, 250, 500, 1000], [100, 250, 500, 1000]]
        } );
    } );
    </script>
{% endblock %}


