{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<main id="main" >

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
         <!--__________________________________ header-box______________________________________________ -->
 <div id="header-container">
	<h1 id="header2">VIEW DATA</h1>

</div>
      Here will be data table
     

    </section><!-- End Hero -->
  
    </main>
  
{% endblock %}

